.container {
  padding: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--size-lg));

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fill, var(--size-md));
    @media screen and (max-width: 470px) {
      padding: 1rem;
    }
  }
}

.favTitle {
  text-transform: uppercase;
  margin-left: 3rem;
  margin-top: 3rem;
}
